<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://cosmosdbdemo.documents.azure.com:443/" />
    <add key="PrimaryKey" value="kLIzMMj6qrA0G76gdfQPMusFIIfdKkfHk60cGpwNJJ9Ys1gAXDBgC4QeaBU6WThn1SNYp2rVilP8dckA07w48Q==" />
  </appSettings>
</configuration>